.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #9C27B0;
    color: white;
    text-align: center;
}

.btn-danger {
    background-color: rgba(200, 35, 51, 0.9) !important;
}
.btn-primary {
    background-color: #007bff !important;
}
.btn-secondary {
    background-color: #808080 !important;
}
.btn-info {
    background-color: #80c0f080 !important;
    color: black;
}

.btn-bar {
    color: white;
}

.container {
    max-width: 100% !important;
}

.markdown-section .hdr1 {
    color: #222;
    font-size: 24px;
    font-weight: bolder;
    margin-top: 24px;
    margin-bottom: 12px;
}

.markdown-section H1 {
    color: #444;
    font-size: 24px;
    font-weight: bolder;
    margin-top: 24px;
    margin-bottom: 12px;
}
.markdown-section .hdr2 {
    color: #333;
    font-size: 20px;
    font-weight: bold;
    margin-top: 24px;
    margin-bottom: 12px;

}
.markdown-section H2 {
    color: #444;
    font-size: 20px;
    font-weight: bold;
    margin-top: 24px;
    margin-bottom: 12px;

}
.markdown-section H3 {
    color: #444;
    font-size: 16px;
    font-weight: bold;
    margin-top: 12px;
    margin-bottom: 6px;

}
.markdown-section PRE {
    margin-top: 24px;
    margin-bottom: 24px;
    border: solid 1px #ccc;
    padding: 12px;

}
.markdown-section li {
    /* list-style-type: decimal; */
    list-style-position: inside;
}

.markdown-section OL {
    list-style-type: decimal;
}
.markdown-section UL {
    list-style-type: square;
}

.markdown-section CODE {
    font-size: 12px;
}

.change-item-card {
    margin-top: 12px;
    padding: 10px;
    border: solid 1px #ccc;
}

.links-box {
    border: solid 1px #888;
    background-color: #eeee;
    padding:10px;
    margin-top: 10px;
}

.links-box label {
    font-size: 16px;
    font-weight: bold;
    border-bottom: #aaa;
}

.item-link {
    color: navy;
    background-color: #ddd;
    padding: 8px;
    margin-top: 8px;
}
